<div class="panel panel-default">
  <div class="panel-heading">
    <h3><%= link_to( blog.title, blog, :method => :get ) %></h3>
    <%= blog.drink %>: <%= blog.tags %>
  </div>
  <div class="panel-body">
    <p><%= blog.date %></p>
    <p><%= blog.body %></p>
  </div>
</div>