<p id="notice"><%= notice %></p>

<div class="container">
  <%= render @blog %>
  
  <%= link_to 'Edit', edit_blog_path(@blog) %> |
  <%= link_to 'Back', blogs_path %>
  <% if signed_in? %>
    <%= link_to('Comment', comment_path_new(blog), :method => :new ) %>
  <% end %>
</div>